body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before *::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.conteiner-section {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  width: 100%;
  /* outline: 5px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: #rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #FFFFFF;
  --icon-color: #afb1b8;
  --main-color: roboto, sans-serif;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.conteiner__nav {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
@media screen and (max-width: 768px) {
  .conteiner__nav {
    display: none;
  }
}

.header__logo {
  padding: 15px 15px;
  margin-right: 93px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    margin-left: 0;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.header__logo__color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .header__logo__color {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.header .header-page {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.menu-open {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open:hover, .menu-open:focus {
  fill: var(--acent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu__item {
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__list {
  margin-left: auto;
}
.menu__list:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .menu__list {
    display: flex;
    margin-right: 30px;
  }
}

.menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--acent-color);
  cursor: pointer;
}

.menu__link {
  padding: 33px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.menu__link.current {
  position: relative;
}
.menu__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--acent-color);
  border-radius: 2px;
}

.contakt {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .contakt {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contakt {
    display: flex;
  }
}

.contakt__mail {
  padding: 32px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--ouwer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakt__mail:hover, .contakt__mail:focus {
  color: var(--acent-color);
}
@media screen and (max-width: 1200px) {
  .contakt__mail {
    padding: 21px 0 0;
    margin-bottom: 10px;
  }
}

.contakt__tel {
  padding: 32px 0;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--ouwer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .contakt__tel {
    padding: 0 0 21px 0;
  }
}
.contakt__tel:hover, .contakt__tel:focus {
  color: var(--acent-color);
}

.contakt__icon {
  fill: currentColor;
}
.contakt__mail:hover .contakt__icon, .contakt__mail:focus .contakt__icon {
  fill: var(--acent-color);
}
.contakt__tel:hover .contakt__icon, .contakt__tel:focus .contakt__icon {
  fill: var(--acent-color);
}

.contakt__mail .contakt__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt__tel .contakt__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subject {
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-color: var(--background-footer-color);
  height: 400px;
  margin: 0 auto;
  padding: 118px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subject {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .subject {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subject {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .subject {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .subject {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__text {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 696px;
  }
}

.content {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .content {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

.subject__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  margin-top: 0px;
  align-items: center;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #2196F3;
  color: var(--buttons-port-color);
}

.benefits__size {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits__size {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantage {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantage {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    width: calc((100% - 90px) / 4);
  }
}
.advantage::before {
  display: flex;
  content: "";
  height: 120px;
  background-color: var(--buttons-port-color);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon__antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon__clok::before {
  background-image: url(../images/clock.svg);
}

.icon__diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon__astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.benefits__top {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
@media screen and (max-width: 479px) {
  .benefits__top {
    text-align: center;
  }
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
}

.desktop {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .desktop {
    display: none;
  }
}

.img__desk {
  display: flex;
  gap: 30px;
}

.desk {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.desk__test {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
}

.product {
  position: relative;
}

.product__text {
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.teem {
  background: #F5F4FA;
}

.teem-desk-conteiner {
  margin-top: 0;
  margin-bottom: 50px;
}

.img-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teem-desk {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (max-width: 1200px) {
  .teem-desk {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.list-teem {
  width: 100%;
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .list-teem {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-teem {
    width: calc((100% - 90px) / 4);
  }
}

.teem-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teem-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.teem-subtitle-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
}

.icon-nav {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.soc-item-teem {
  width: 44px;
  height: 44px;
}

.soc-link-teem {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link-teem:hover, .soc-link-teem:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
}

.soc-teem-icon {
  fill: currentColor;
}

.client-text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .client-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.client-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 320px) {
  .client-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-list {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list {
    width: calc((100% - 150px) / 6);
  }
}

.icon-client {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client:hover, .icon-client:focus {
  border: 1px solid var(--acent-color);
  fill: var(--acent-color);
}

.footer {
  background-color: var(--background-footer-color);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .footer-conteiner {
    flex-wrap: wrap;
  }
}

address {
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  address {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    display: block;
    text-align: center;
  }
}

.footer-logo-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-link-mail,
.footer-link-tel {
  display: inline-block;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.footer-list:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-link-addres {
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-link-addres:hover, .footer-link-addres:focus {
  color: var(--secondary-text-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-info {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info {
    margin-right: 70px;
  }
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 1199px) {
  .footer-items {
    align-items: center;
  }
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 1199px) {
  .footer-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    margin-right: auto;
  }
}

.footer-item {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0 0;
}

.soc-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: var(--acent-color);
}

.soc-link-icon {
  fill: var(--secondary-text-color);
}

.input-emeil {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .input-emeil {
    width: 450px;
  }
}
@media screen and (max-width: 767px), (max-width: 1199px) {
  .input-emeil {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .input-emeil {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.input-emeil::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-emeil:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-emeil::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn-footer {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: #2196F3;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  margin: auto;
}
.btn-footer:hover, .btn-footer:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
}

.icon-btn {
  display: flex;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  fill: var(--background-color);
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.portfolio-section {
  padding: 94px 0;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.conteiner-navigation {
  display: flex;
  align-items: center;
}

.content {
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.current {
  color: var(--acent-color);
}

.content-btn-item {
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  background-color: var(--buttons-port-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-btn-item:hover, .content-btn-item:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover, .icon:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.icon-portfolio {
  position: relative;
  overflow: hidden;
}

.text-transform {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover .text-transform, .icon:focus .text-transform {
  transform: translateY(0);
}

.project-icon {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
}

.icon-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-top: 0;
}

.icon-text-list {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
  font-size: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 95%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (max-width: 1199px) {
  .modal {
    overflow: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(90deg);
}

.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--background-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  color: var(--logo-color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus + svg {
  fill: var(--acent-color);
}

.modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--acent-color);
}

.icon-modal-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .icon-modal-input {
  fill: var(--acent-color);
}

.label-modal {
  margin-bottom: 10px;
  display: block;
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-icon {
  position: relative;
}

.coment-wrap {
  margin-bottom: 20px;
}

.coment-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.coment-text:focus {
  border-color: var(--acent-color);
}
.coment-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check {
  text-align: center;
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--acent-color);
  fill: var(--background-color);
  border-color: transparent;
}
.input-check:focus + .check-text span {
  border-color: var(--acent-color);
}

.check-text-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .check-text-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
  }
}

.btn-modal {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: var(--background-color);
  background: var(--acent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
}
.btn-modal:hover, .btn-modal:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  overflow: scroll;
  z-index: 999;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translateX(0);
}

.mob-menu .menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--logo-color-text);
}

.mob-menu-nav {
  min-width: 320px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.menu-close {
  background: var(--background-color);
  width: 40px;
  height: 40px;
  margin: 0;
  color: var(--logo-color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}
.menu-close:hover, .menu-close:focus {
  fill: var(--acent-color);
}

.mob-menu-nav {
  margin-bottom: 302px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .mob-menu-nav {
    display: none;
    margin-left: 88px;
  }
}

.menu-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-list:not(:last-child) {
  margin-bottom: 32px;
}

.menu-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.current {
  color: var(--acent-color);
}

.mob-menu-contact:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact {
  margin-bottom: 64px;
  justify-content: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mob-contact {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .mob-contact {
    flex-direction: row;
    gap: 30px;
  }
}

.menu-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contact:hover, .menu-contact:focus {
  color: var(--acent-color);
}

.menu-contact-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contact-tel:hover, .menu-contact-tel:focus {
  color: var(--acent-color);
}

.menu-cos {
  display: flex;
  margin-top: 64px;
}
@media screen and (max-width: 479px) {
  .menu-cos {
    justify-content: flex-start;
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 10px;
  }
}

.mob-cos:not(:last-child)::after {
  content: "";
  margin: 0 10px;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */