.benefits__size{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
   
.benefits__nav{
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}

.advantage{
    width: 100%;
    @media screen and (min-width: 768px){

        width: calc((100% - 30px) / 2);
     }
     @media screen and (min-width: 1200px){
        width: calc((100% - 90px) / 4);
    }
   
    &::before{
    display: flex;
    content: "";
    height: 120px;
    background-color: var(--buttons-port-color);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px; 
    }
}

.icon__antenna::before{
background-image: url(../images/antenna.svg);
}

.icon__clok::before{
    background-image: url(../images/clock.svg);
}

.icon__diagram::before{
    background-image: url(../images/diagram.svg);
}

.icon__astronaut::before{
    background-image: url(../images/astronaut\ 1.svg);
}
    
.benefits__top{
    margin-bottom: 10px;
    margin-top: 0px;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--main-text-color);
    @media screen and (max-width: 779px){
        text-align: center;
    }
}

.benefits__text{
margin-top: 0;
margin-bottom: 0;
@include font(400, 14px, 1.71, 0.03em);
color: var(--ouwer-text-color);
}