.client-text{
    margin-bottom: 50px;
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--main-text-color);
    @media screen and (max-width: 768px){
        @include font(700, 28px, 1.18, 0.03em);   
    }

}

.client-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.client-list{
    @media screen and (min-width: 480px){

        width: calc((100% - 30px) / 2);
     }
     @media screen and (min-width: 768px){

        width: calc((100% - 60px) / 3);
     }
     @media screen and (min-width: 1200px){
        width: calc((100% - 150px) / 6);
    }

}
.icon-client{
    
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    
        border: 1px solid var(--acent-color);
        fill: var(--acent-color);
    }
}

